+++
title = "RK Docs"
linkTitle = "rkdocs"
+++

{{< blocks/cover title="Welcome to RK Docs" image_anchor="center" height="full" color="primary" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-warning mr-3 mb-4" href="https://github.com/rookie-ninja">
		Github <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5">Bridge DevOps</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{< blocks/section color="white" >}}
{{% blocks/feature icon="fa-lightbulb" title="Open source!" %}}
RK series of packages and applications are always **open source**!

{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/rookie-ninja" %}}
We do a [Pull Request](https://github.com/rookie-ninja/rk-boot/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-slack" title="Discuss with us on Slack!" url="https://rk-syz1767.slack.com/" %}}
For discussing architecture, roadmap and etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}


